---
layout: default
title: Riggeddice
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	This is our own role playing system. </br>
	
	It is called <a href="/rpg/inwazja">Inwazja</a> (Invasion).
	
	We also have a new flavor called <a href="/rpg/cybermagic">Zaćmienie 2050</a> (Eclipse 2050).
	
	It is a bit different than traditional systems because it focuses on everyone building a shared story, rather than Game Master telling their own.</br>
	
	Feel free to use it, as long as you follow the license (see footer).</br>
	
	Want to suggest new ideas / contact us? Create a pull request.</br>
	
</ul>
