<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/rpg/css/main.css">
		</head>
		<body>
			<div class="centered_menu">
                <ul>
                    <li><a href="/rpg/">Home</a></li>
					<li><a href="/rpg/inwazja">Inwazja</a></li>
					<li><a href="/rpg/cybermagic">Zaćmienie 2050</a></li>
					<li><a href="/rpg/mechanika">Mechanika</a></li>
                    <li><a href="/rpg/blog">Blog</a></li>
                </ul>
            </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
        </body>
        <footer>
        	<p>Wszystkie postacie opisane na tej stronie są fikcyjne, a ich rzekome podobieństwo z osobami rzeczywistymi całkowicie nie zamierzone i przypadkowe.</p>
			<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p>
		</footer>
    </html>